.todo-input {
    width: 100%;
    padding: 10px 18px;
    font-size: 25px;
    margin-bottom: 16px;
}
.todo-input:focus {
    outline: 0;
}

.todo-item {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation-duration: 0.3s;
}

.remove-item {
    cursor: pointer;
    margin-left: 14px;
}
.remove-item:hover {
    color: red;
    }


.todo-item-left {
    display: d-flex;
    align-items: center;
}

.todo-item-label {
    padding: 10px;
    border: 1px solid whitesmoke;
    margin-left: 12px;
}

.todo-item-edit {
    font-size: 24px;
    color: #c73e08;
    margin-left: 12px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
.todo-item-edit:focus {
    outline: none;
    }


.completed {
    text-decoration: line-through;
    text-decoration-style: wavy;
    color: rgb(243, 7, 7);
}

.extra-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    border-top: 1px solid lightgrey;
    padding-top: 14px;
    margin-bottom: 14px;
}

.button {
    font-size: 14px;
    background-color: white;
    appearance: none;
}
.button:hover {
    background: lightgreen;
    }

.button:focus {
    outline: none;
}

.active {
    background: lightgreen;
}
    
.fade-enter-active, .fade-leave-active {
transition: opacity .2s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}